<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="configProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:config.properties</value>
                <value>classpath:redis.properties</value>
            </list>
        </property>
    </bean>

    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <!-- 组件扫描范围，controller层交由mvc扫描 -->
    <context:component-scan base-package="net.evecom.gsmp.gidcms">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <context:property-placeholder location="classpath:config.properties,redis.properties" ignore-resource-not-found="true"/>

    <!-- 获取ApplicationContext  -->
    <bean class="net.evecom.gsmp.core.utils.SpringContextHolder" lazy-init="false"/>

    <!--<import resource="spring-mvc.xml"/>-->
    <import resource="spring-persistence.xml"/>
    <!--<import resource="spring-redis.xml"/>-->
    <import resource="spring-cache.xml"/>
    <import resource="spring-quartz.xml"/>
    <bean id="propertyPlaceholderConfigurer"
          class="net.evecom.gsmp.gidcms.common.util.CustomizedPropertyConfigurer">
        <property name="locations">
            <list>
                <value>classpath:config.properties</value>
            </list>
        </property>
        <property name="configureClasses">
            <list>
                <value>net.evecom.gsmp.gidcms.common.util.UsmsConstant</value>
            </list>
        </property>
    </bean>

</beans>